:root {
    --bgcolor: #387197;
}
html, body {
    min-width: 1280px;
    width: 100%;
    height: 100%;
}
.header {
    /* 防止导航栏绝对定位后，脱离文档流挡住下方元素 */
    height: 70px;
    
}
.header-list {
    /* 顶部导航栏绝对定位 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.header-top {
    width: 1280px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
}
.logo a {
    display: inline-block;  /* 不然无法显示图片 */
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 180px;
    height: 50px;
}
/* 头部导航 */
.header-top ul {
    /* .logo设置宽度后，ul占据剩下所有的部分 */
    flex: 1;
    display: flex;
}
.header-top ul li {
    margin: 0 30px;
    font-size: 16px;
    font-weight: 700;
    /* 用于导航下方装饰线的固定定位 */
    position: relative;
}
.header-top ul li span:hover {
    color: var(--bgcolor);
}
.header-top ul li::before {
    /* 导航下方装饰线 */
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid var(--bgcolor);
    transition: all 0.2s;
}
.header-top ul li:hover::before {
    content: '';
    width: 100%;
    left: 0;
}
/* 头部右侧 */
.header-right {
    display: flex;
}
.header-right-l {
    /* background: url(../images/telt.png) no-repeat; */
    width: 35px;
    height: 35px;
    margin-right: 10px;
    /* 蒙版，使用图片提供显示区域 */
    -webkit-mask-box-image: url(../images/telt.png);
    background: var(--bgcolor);

}
.header-right-r p {
    color: var(--bgcolor);
    font-weight: 600;
}
.header-right-r-number {
    font-size: 18px;
}
/* 轮播 */
.banner-list {
    max-width: 2560px;
    margin: auto;
}
/* 轮播图样式 */
.banner-list el-carousel__item img {
    width: 100%;
    height: 600px;
    /* 方式图片拉伸变形 */
    object-fit: cover;
}
/* 轮播下的图片 */
.banner-item {
    background-color: var(--bgcolor);
    text-align: center;
    padding-top: 20px;
}
.banner-item img {
    width: 1280px;
}
/* 获取报价表单 */
.banner-list indexForm {
    position: relative;
}
.banner-list .form_bg {
    position: absolute;
    right: 130px;
    top: 100px;
    width: 380px;
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.form_head {
    font-size: 30px;
    line-height: 80px;
}
.form_head b {
    color: var(--bgcolor);
}
.form_bg .el-input {
    width: 300px;
    margin-bottom: 20px;
    font-size: 16px;
}
.form_bg .el-input--large .el-input__wrapper {
    padding: 5px 15px;
}
.form_bg .el-button {
    width: 300px;
    height: 50px;
    border-radius: 40px;
    font-size: 18px;
    margin-bottom: 20px;
}
.privacy {
    display: flex;
    align-items: center;
    justify-content: center;
}
.privacy input {
    margin-right: 10px;
}
.checkbox-type {
    appearance: none;
    width: 15px;
    height: 15px;
}
/* 复选框未选中 */
.checkbox-type::before {
    content: '';
    border-radius: 50%;
    width: 13px;
    height: 13px;
    border: 2px solid #aaa;
    display: inline-block;
}
/* 复选框已选中 */
.checkbox-type:checked::before {
    content: '\ebe6';
    font-family: 'iconfont';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--bgcolor);
    border: 1px solid var(--bgcolor);
    color: #fff;
    font-weight: 700;
}