:root {
    --bgcolor: #387197;
}
html, body {
    min-width: 1280px;
    width: 100%;
    height: 100%;
}
.header {
    /* 防止导航栏绝对定位后，脱离文档流挡住下方元素 */
    height: 70px;
    
}
.header-list {
    /* 顶部导航栏绝对定位 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.header-top {
    width: 1280px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
}
.logo a {
    display: inline-block;  /* 不然无法显示图片 */
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 180px;
    height: 50px;
}
/* 头部导航 */
.header-top ul {
    /* .logo设置宽度后，ul占据剩下所有的部分 */
    flex: 1;
    display: flex;
}
.header-top ul li {
    margin: 0 30px;
    font-size: 16px;
    font-weight: 700;
    /* 用于导航下方装饰线的固定定位 */
    position: relative;
}
.header-top ul li span:hover {
    color: var(--bgcolor);
}
.header-top ul li::before {
    /* 导航下方装饰线 */
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid var(--bgcolor);
    transition: all 0.2s;
}
.header-top ul li:hover::before {
    content: '';
    width: 100%;
    left: 0;
}
/* 头部右侧 */
.header-right {
    display: flex;
}
.header-right-l {
    /* background: url(../images/telt.png) no-repeat; */
    width: 35px;
    height: 35px;
    margin-right: 10px;
    /* 蒙版，使用图片提供显示区域 */
    -webkit-mask-box-image: url(../images/telt.png);
    background: var(--bgcolor);

}
.header-right-r p {
    color: var(--bgcolor);
    font-weight: 600;
}
.header-right-r-number {
    font-size: 18px;
}
/* 轮播 */
.banner-list {
    max-width: 2560px;
    margin: auto;
}
/* 轮播图样式 */
.banner-list el-carousel__item img {
    width: 100%;
    height: 600px;
    /* 方式图片拉伸变形 */
    object-fit: cover;
}
/* 轮播下的图片 */
.banner-item {
    background-color: var(--bgcolor);
    text-align: center;
    padding-top: 20px;
}
.banner-item img {
    width: 1280px;
}
/* 获取报价表单 */
.banner-list indexForm {
    position: relative;
}
.banner-list .form_bg {
    position: absolute;
    right: 130px;
    top: 100px;
    width: 380px;
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.form_head {
    font-size: 30px;
    line-height: 80px;
}
.form_head b {
    color: var(--bgcolor);
}
.form_bg .el-input {
    width: 300px;
    margin-bottom: 20px;
    font-size: 16px;
}
.form_bg .el-input--large .el-input__wrapper {
    padding: 5px 15px;
}
.form_bg .el-button {
    width: 300px;
    height: 50px;
    border-radius: 40px;
    font-size: 18px;
    margin-bottom: 20px;
}
.privacy {
    display: flex;
    align-items: center;
    justify-content: center;
}
.privacy input {
    margin-right: 10px;
}
.checkbox-type {
    appearance: none;
    width: 15px;
    height: 15px;
}
/* 复选框未选中 */
.checkbox-type::before {
    content: '';
    border-radius: 50%;
    width: 13px;
    height: 13px;
    border: 2px solid #aaa;
    display: inline-block;
}
/* 复选框已选中 */
.checkbox-type:checked::before {
    content: '\ebe6';
    font-family: 'iconfont';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--bgcolor);
    border: 1px solid var(--bgcolor);
    color: #fff;
    font-weight: 700;
}
.container {
    width: 1280px;
    margin: auto;
}
.container-bg {
    padding: 50px 0;
}
.index-title {
    text-align: center;
}
.index-title h3 {
    font-size: 42px;
    font-weight: 700;
}
.index-title p {
    font-size: 20px;
    color: #666;
    padding: 20px;
}
/* 品牌优势 */
.advantage-item1 ul,
.advantage-item2 ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.advantage-item1 li span {
    font-size: 20px;
    color: #999;
}
.advantage-item1 .advantage-num {
    font-size: 40px;
    font-weight: 700;
    color: #333;
}
.advantage-item2 li {
    text-align: center;
    width: calc(100%/4);
    margin: 0 20px;
}
.advantage-item2 li i {
    border: 2px solid var(--bgcolor);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    font-size: 50px;
    color: var(--bgcolor);
    line-height: 100px;
}
/* 图标添加抖动动画 */
.advantage-item2 li i:hover {
    animation: shake .4s;
}
@keyframes shake {
    0% {
        transform: rotate(-40deg);
    }
    20% {
        transform: rotate(30deg);
    }
    40% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(20deg);
    }
    80% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.advantage-item2 h4 {
    font-size: 24px;
    padding: 20px 0;
}
.advantage-item2 p {
    color: #666;
}
/* 实景案例 */
/* flex布局 */
/* .renovation-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.renovation-list ul li {
    width: calc(100%/3 - 20px);
    border: 1px solid #ccc;
} */
/* 网格布局 */
.renovation-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;
}
.renovation-list ul li {
    width: calc(1280px/3 - 40px);
    border: 1px solid #ccc;
    position: relative;
}
.renovation-img {
    width: 100%;
    height: 225px;
    overflow: hidden;
}
.renovation-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}
.renovation-box {
    padding: 20px;
}
.renovation-box h3 {
    font-size: 18px;
    font-weight: 500;
    /* 避免标题过长 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.renovation-box-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.renovation-box-info p {
    color: #999;
}
.renovation-box-info span{
    color: var(--bgcolor);
}
/* 1. 鼠标移入li时出现阴影 */
.renovation-list ul li:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
/* 2. 鼠标移入li时图片放大 */
.renovation-list ul li:hover .renovation-img img {
    transform: scale(1.1);
}
.renovation-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
}
/* 3. 图片颜色变深 */
.renovation-list ul li:hover .renovation-hover {
    width: 100%;
    height: 225px;
    opacity: 1;
    background-color: rgba(0, 0, 0, .3);
}
/* 4. 鼠标移入时方框的动画 */
.renovation-hover::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 0;
    height: 0;
    transition: all .2s;
}
.renovation-list ul li:hover .renovation-hover::before {
    content: '';
    width: 70%;
    height: 60%;
    border: 1px solid #fff;
}
/* 5. 查看详情动画 */
.renovation-hover span {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30px);
    transition: all .3s;
}
.renovation-list ul li:hover .renovation-hover span {
    transform: translate(-50%, -50%);
    /* transition: all .3s; */
}

/* 家装资讯 */
.information-list {
    display: flex;
    height: 380px;
    gap: 0 30px;
}
.information-left {
    width: 40%;
}
.information-right {
    width: 60%;
}
.information-right ul {
    width: 100%;
    height: 380px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.information-right ul li {
    display: flex;
    gap: 0 20px;
    height: calc(380px / 3 - 20px);
}
.information-r-img {
    width: 170px;
    /* 避免弹性布局，子元素宽度无效 */
    flex-shrink: 0;
}
.information-r-img img {
    width: 100%;
    height: 100%;
}
.information-title {
    font-size: 16px;
}
.information-time {
    color: #999;
    margin-top: 10px;
}
.information-desc {
    color: #666;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;  /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical;  /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2;  /** 显示的行数 **/
}
/* 底部 */
.footer {
    background-color: #333;
    padding: 30px 0;
}
.footer-list {
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer-left ul {
    display: flex;
}
.footer-left ul li {
    width: 220px;
}
.footer-left ul li p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.footer-left ul li a {
    color: #a2a2a2;
    display: block;
    line-height: 26px;
}
.footer-map {
    width: 370px;
    height: 160px;
    background: url(../images/map.png) no-repeat center;
}